#{extends 'main.html' /} 
#{set title:'Fastlege' /} 
#{if session.user}
<p>
Welcome, ${session.user}
</p>
<p>
<div id="demo">
<table id="fastlegene" class="display">
	<thead>
		<tr>
			<th>Navn</th>
			<th>Kj&oslash;nn</th>
			<th>Adresse</th>
			<th>Antall ledige</th>
		</tr>
	</thead>
	<tbody>
		#{list items:fastleger, as:'lege'}
		<tr>
			<td>${lege.navn}</td>
			<td>${lege.kjonn}</td>
			<td>${lege.adresse}</td>
			<td>${lege.antallLedig}</td>
		</tr>
		#{/list}
	</tbody>
</table>
</div>
</p>

#{/if} 
#{else}
<p> 
#{fbconnect.button label:'Login using your facebook account.', scope:'email' /} 
</p>
#{/else}




